{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}
    A propos du Pro14
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('index')}}'>Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">A propos du Pro14</li>
    </ol>
</nav>
<div class='container-fluid mb-3 pb-6'>
    <div class='row justify-content-center'>
        <div class='col-lg-10'>
            <h1>A propos du Pro14</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <h3> Historique</h3>
                    <p class="text-justify">
                        Le Pro 14 a subi plusieurs évolutions au cours de son histoire. La toute première version, 
                        alors nommée <span style="font-weight: 700">Celtic League</span>, eu lieu en 
                        <span style="font-weight: 700">2001</span>. Elle regroupait 2 équipes écossaises 
                        (<span style="font-weight: 700">Edimbourg et Glasgow</span>), 4 provinces Irlandaises 
                        (<span style="font-weight: 700">Connacht, Leinster, Munster et Ulster</span>) et 9 équipes 
                        galloises (Bridgend, Caerphilly, Cardiff, Ebbw Vale, Llanelli, Neath, Newport, Pontypridd et 
                        Swansea). La première édition fut remportée par le Leinster. <br />
                    </p>
                    <p class="text-justify">
                        L'année suivante, une nouvelle équipe écossaise rejoignait les autres : Border Reivers.<br />
                    </p>
                    <p class="text-justify">
                        En 2003, pour des raisons budgétaires, les 9 équipes galloises sont remplacées par 5 provinces : <span style="font-weight: 700">Cardiff Blues</span>, Celtic Warriors, <span style="font-weight: 700">Llanelli Scarlets, Ospreys et Newport Gwent Dragons</span>. Cette année-là marque aussi la fin des conférences et des phases finales.<br />
                    </p>
                    <p class="text-justify">
                        En 2004, la province galloise des Celtic Warriors est arrêtée.<br />
                    </p>
                    <p class="text-justify">
                        En 2006, la Celtic League devient la <span style="font-weight: 700">Magners league</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2007, l'équipe écossaise des Border Reivers est à son tour arrêtée.<br />
                    </p>
                    <p class="text-justify">
                        En 2009, les phases finales sont à nouveau introduites.<br />
                    </p>
                    <p class="text-justify">
                        En 2010, 2 équipes italiennes rejoignent les 10 équipes restantes : <span style="font-weight: 700">Benetton Trévise</span> et Aironi Rugby.
                    </p>
                    <p class="text-justify">
                        En 2011, la Magners League devient le <span style="font-weight: 700">RaboDirect Pro12</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2012, Aironi rugby est remplacé par les <span style="font-weight: 700">Zebres</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2014, le RaboDirect Pro12 devient le <span style="font-weight: 700">Guinness Pro12</span>. Cette année-là marque aussi une réforme européenne et les places qualificatives pour la Champions Cup ne sont plus automatiquement attribuées. Il faut finir aux premières places du championnat. Cela augmente ainsi les enjeux sportifs de la compétition. <br />
                    </p>
                    <p class="text-justify">
                        En 2018, le Super Rugby réduit son nombre d'équipe (passant de 18 à 15). Les franchises sud-africaines des Cheetahs et des Southern Kings intègrent en conséquence le Guinness Pro 12 qui prendra le nom que l'on connait aujourd'hui : <span style="font-weight: 700">le Guinness Pro14</span>. L'ajout de ces équipes marque le retour des conférences.
                    </p>
                    <p class="text-justify">
                        En 2021, la fédération sud Africaine décide de ne plus prendre part au Super Rugby. La franchise sud-africaine des Southern Kings fait faillite 
                        et est démentelée. Les Cheetahs sont écartés de cette compétion. Les 4 grandes et historiques provinces à savoir
                        <span style="font-weight:700">les Bulls, les Lions, les Sharks et les Stormers</span> intègrent une toute nouvelle compétition appelée <span style="font-weight: 700">United Rugby Championship (URC)</span>. 
                        Le format de la compétition est complétement revu et passe à 4 conférences de 4 équipes.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3> Format actuel</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Le format actuel regroupe donc 16 équipes réparties en 4 conférences. La conférence Irlandaise, Ecossaise/Italienne, Galloise et Sud Africaine.
                        
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Chaque équipe s'affronte aller-retour de sa conférence (soit 6 matchs), puis une fois chaque 
                        équipe des autres conférences (à domicile ou à l'extérieur aléatoirement, soit 12 matchs de plus).
                        Chaque équipe disputera donc un total de 18 matchs.
                        <br />
                        A l'issue de la phase régulière, les premiers de chaque conférence sont qualifiés pour la Champions Cup. 
                        Les 4 équipes non-premières avec le plus de point sont également qualifiées pour la Champions Cup. Les autres équipes sont automatiquement 
                        qualifiées pour la Challenge Cup.<br />
                        Les 8 équipes les mieux classées sont qualifiées pour les quarts de finale et s'affronteront selon le format 1er vs 8ème, 
                        2nd vs 7ème, 3ème vs 6ème, 4ème v 5ème.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3> Palmares</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions avec phases finales</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Nom compétition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i < 2 %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions sans phases finales (2003-2009)</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Coméptition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i>=2 and i < 8 %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions avec phases finales (depuis 2010)</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Compétition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i >=8 and (palma.nomCompetition == "Magners League" or palma.nomCompetition == "RaboDirect Pro12" or palma.nomCompetition == "Guinness Pro12" or palma.nomCompetition == "Guinness Pro14") %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}