{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}
    Compétition
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('index')}}'>Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('competition')}}'>Compétition</a></li>
    </ol>
</nav>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1>Compétition - présentation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            {{ include('competition/blockMenu.html.twig',{'active': active}) }}
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-12">
                    <h3> Historique</h3>
                    <p class="text-justify">
                        Le Pro 14 a subi plusieurs évolutions au cours de son histoire. La toute première version, 
                        alors nommée <span style="font-weight: 700">Celtic League</span>, eu lieu en 
                        <span style="font-weight: 700">2001</span>. Elle regroupait 2 équipes écossaises 
                        (<span style="font-weight: 700">Edimbourg et Glasgow</span>), 4 provinces Irlandaises 
                        (<span style="font-weight: 700">Connacht, Leinster, Munster et Ulster</span>) et 9 équipes 
                        galloises (Bridgend, Caerphilly, Cardiff, Ebbw Vale, Llanelli, Neath, Newport, Pontypridd et 
                        Swansea). La première édition fut remportée par le Leinster. <br />
                    </p>
                    <p class="text-justify">
                        L'année suivante, une nouvelle équipe écossaise rejoignait les autres : Border Reivers.<br />
                    </p>
                    <p class="text-justify">
                        En 2003, pour des raisons budgétaires, les 9 équipes galloises sont remplacées par 5 provinces : <span style="font-weight: 700">Cardiff Blues</span>, Celtic Warriors, <span style="font-weight: 700">Llanelli Scarlets, Ospreys et Newport Gwent Dragons</span>. Cette année-là marque aussi la fin des conférences et des phases finales.<br />
                    </p>
                    <p class="text-justify">
                        En 2004, la province galloise des Celtic Warriors est arrêtée.<br />
                    </p>
                    <p class="text-justify">
                        En 2006, la Celtic League devient la <span style="font-weight: 700">Magners league</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2007, l'équipe écossaise des Border Reivers est à son tour arrêtée.<br />
                    </p>
                    <p class="text-justify">
                        En 2009, les phases finales sont à nouveau introduites.<br />
                    </p>
                    <p class="text-justify">
                        En 2010, 2 équipes italiennes rejoignent les 10 équipes restantes : <span style="font-weight: 700">Benetton Trévise</span> et Aironi Rugby.
                    </p>
                    <p class="text-justify">
                        En 2011, la Magners League devient le <span style="font-weight: 700">RaboDirect Pro12</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2012, Aironi rugby est remplacé par les <span style="font-weight: 700">Zebres</span>.<br />
                    </p>
                    <p class="text-justify">
                        En 2014, le RaboDirect Pro12 devient le <span style="font-weight: 700">Guinness Pro12</span>. Cette année-là marque aussi une réforme européenne et les places qualificatives pour la Champions Cup ne sont plus automatiquement attribuées. Il faut finir aux premières places du championnat. Cela augmente ainsi les enjeux sportifs de la compétition. <br />
                    </p>
                    <p class="text-justify">
                        En 2018, le Super Rugby réduit son nombre d'équipe (passant de 18 à 15). Les franchises sud-africaines des <span style="font-weight: 700">Cheetahs et des Southern Kings</span> intègrent en conséquence le Guinness Pro 12 qui prendra le nom que l'on connait aujourd'hui : <span style="font-weight: 700">le Guinness Pro14</span>. L'ajout de ces équipes marque le retour des conférences.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3> Format actuel</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Le format actuel regroupe donc 14 équipes réparties en 2 conférences. Lors des 2 premières saisons, les conférences n'ont pas bougé mais lors de la troisième les conférences ont été remodifiées sur le principe suivant : 
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Conférence A</th>
                                <th>Conférence B</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Province irlandaise classée n°2 (sur 4)</td>
                                <td>Province irlandaise classée n°1 (sur 4)</td>
                            </tr>
                            <tr>
                                <td>Province irlandaise classée n°3 (sur 4)</td>
                                <td>Province irlandaise classée n°4 (sur 4)</td>
                            </tr>
                            <tr>
                                <td>Province écossaise classée n°1 (sur 2)</td>
                                <td>Province écossaise classée n°2 (sur 2)</td>
                            </tr>
                            <tr>
                                <td>Province galloise classée n°1 (sur 4)</td>
                                <td>Province galloise classée n°2 (sur 4)</td>
                            </tr>
                            <tr>
                                <td>Province galloise classée n°4 (sur 4)</td>
                                <td>Province galloise classée n°3 (sur 4)</td>
                            </tr>
                            <tr>
                                <td>Province italienne classée n°2 (sur 2)</td>
                                <td>Province italienne classée n°1 (sur 1)</td>
                            </tr>
                            <tr>
                                <td>Province sud-africaine classée n°1 (sur 2)</td>
                                <td>Province sud-africaine classée n°2 (sur 2)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-justify">
                        Ce principe sera <span style="font-style: italic">à priori</span> appliqué si les conférences
                        doivent être amenées à changer à nouveau. <br /><br />
                        Chaque équipe s'affronte aller-retour de sa conférence (soit 12 matchs), puis une fois chaque 
                        équipe de l'autre conférence (à domicile ou à l'extérieur aléatoirement, soit 7 matchs de plus).
                        Enfin chaque équipe dispute 2 derbys face à une équipe du même pays pour un total de 21 rencontres.
                        <br />
                        A l'issue de la phase régulière, les 3 premiers de chaque conférence (hors équipe sud-africaine) 
                        sont qualifiés pour la Champions Cup. Les 4ème des deux conférences disputent un barrage pour 
                        avoir la dernière place en Champions Cup. Le perdant et les autres équipes sont automatiquement 
                        qualifié pour la Challenge Cup.<br />
                        Les premiers de chaque conférence sont directement qualifiés pour les demi-finales (qui joueront 
                        à domicile). Le 2ème de la conférence A affronte le 3ème de la conférence B (Barrage 1) et 
                        inversement, le 2ème de la conférence B affronte le 3ème de la conférence A (Barrage 2).
                        Le vainqueur du Barrage 1 affronte le 1er de la conférence B et le vainqueur du Barrage 2 
                        affronte le 1er de la conférence A. Les vainqueurs de ces rencontres s'affrontent en finale
                        sur terrain neutre.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3> Palmares</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions avec phases finales</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Nom compétition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i < 2 %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions sans phases finales (2003-2009)</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Coméptition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i>=2 and i < 8 %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="3">Editions avec phases finales (depuis 2010)</th>
                                </tr>
                                <tr>
                                    <th> Année </th>
                                    <th> Compétition </th>
                                    <th> Champion </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set i = 0 %}
                                {% for palma in palmares %}
                                {% if i >=8 and (palma.nomCompetition == "Magners League" or palma.nomCompetition == "RaboDirect Pro12" or palma.nomCompetition == "Guinness Pro12" or palma.nomCompetition == "Guinness Pro14") %}
                                <tr>
                                    <td>
                                        {{ palma.saison }}
                                    </td>
                                    <td >
                                        {{ palma.nomCompetition }}
                                    </td>
                                    <td>
                                        {{ palma.equipe.nom }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% set i = i+1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}