{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}
    Calendrier Pro 14
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('index')}}'>Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Calendrier</li>
    </ol>
</nav>
<div class='container-fluid pb-5 mb-5'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1>Compétition - calendrier saison {{saison}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            {{ include('competition/blockMenu.html.twig',{'active': active}) }}
        </div>
        <div class="col-lg-10">
            <div class="row justify-content-center">
                {% for key,journees in calendrier %}
                <div class="col-lg-4 mt-2">
                    <div class="card border-dark" style="width: 100%">
                        <div class="card-header text-white bg-dark">{% if key!='Demi finale' and key!='Barrage Play Off' and key!='Finale' and key!='Barrage Champions Cup' %}Journée n°{{key}}{% else %} {{key }}{% endif %}</div>
                        <div class="card-body text-center card-body-reduce">
                            <table style="width: 100%">
                            {% for rencontre in journees %}
                                <tr>
                                    <td style="width: 40%;font-size:12px;text-align: left"><img src="{{ asset('images/logo/'~rencontre.idEquipeHome.logo)}}" width="19"> {{ rencontre.idEquipeHome.nom}}</td>
                                    <td style="width: 20%;font-size:12px"><a href="{{ path('journee', {'id':rencontre.id})}}" class="card-link remove-link"> <span class="font-weight-bold">{% if rencontre.scoreHome is not null%}{{ rencontre.scoreHome}}{% endif %} - {% if rencontre.scoreAway is not null%}{{ rencontre.scoreAway}}{% endif %}</span></a></td>
                                    <td style="width: 40%;font-size:12px;text-align: right">{{rencontre.idEquipeAway.nom }} <img src="{{ asset('images/logo/'~rencontre.idEquipeAway.logo)}}" width="19"></td>
                                </tr>
                            {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h6>Voir les saison précédentes </h6>
                    {% for saisprec in saisonsPrécédentes %}
                        <a href="{{ path('calendrier_competition_autre_saison',{'nomSaison':saisprec.saison})}}">Saison {{saisprec.saison}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}