{% extends "base.html.twig" %}
{% block title %}
    Pro14 - Journée {{journee.journee}} {{journee.idEquipeHome.nom ~' - '~journee.idEquipeAway.nom}}
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('index')}}'>Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('calendrier_competition')}}'>Compétition > Calendrier</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{journee.idEquipeHome.nom ~' - '~journee.idEquipeAway.nom}}</li>
    </ol>
</nav>
<div class='container-fluid pb-6 mb-5'>
    <div class='row'>
        <div class='col-9 col-md-5 text-lg-right order-md-1 align-self-center'>
            <h1> <img src="{{ asset('images/logo/'~journee.idEquipeHome.logo)}}" width="50"> {{journee.idEquipeHome.nom}}</h1>
        </div>
        <div class='col-3 col-md-1 order-md-2'>
            <span class="score" style="font-size:2.600rem">{{journee.scoreHome}}</span>
        </div>
        <div class='col-9 col-md-5 order-md-4 align-self-center'>
            <h1><img src="{{ asset('images/logo/'~journee.idEquipeAway.logo)}}" width="50"> {{journee.idEquipeAway.nom}}</h1>
        </div>
        <div class='col-3 col-md-1 order-md-3'>
            <span class="score" style="font-size:2.60rem">{{journee.scoreAway}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <span>Journée n°{{journee.journee}}</span>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 col-lg-2">
            Date : {{journee.jour|date('d/m/Y')}}
        </div>
        <div class="col-4 col-lg-2 text-center ">
            Stade : {{journee.idEquipeHome.stade}}
        </div>
        <div class="col-4 col-lg-2 text-right">
            Arbitre : {% if journee.idArbitreCentral is not null %}{{journee.idArbitreCentral.prenom~' '~journee.idArbitreCentral.nom}}{% endif %}
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class='col-lg-10'>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#" id="btnComposition">Composition</a>
                </li>
                <!--<li class="nav-item">
                     <a class="nav-link {% if journee.scoreHome==null and journee.scoreAway==null%}disabled{%endif%}" href="#" id="btnResume">Résumé</a>
                </li>-->
                <li class="nav-item">
                     <a class="nav-link {% if journee.scoreHome==null and journee.scoreAway==null%}disabled{%endif%}" href="#" id="btnMatch">Stats Match</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link {% if journee.scoreHome==null and journee.scoreAway==null%}disabled{%endif%}" href="#" id="btnJoueurs">Stats Joueurs</a>
                </li>
            </ul>
        </div>
    </div>
               
    <div id='blockComposition'>
        <div class='row justify-content-center mt-2'>
            <div class='col-sm-6 col-md-6 col-lg-3 order-lg-1 mt-3'>
                {%if equipeHome is not empty%}
                    {% for home in equipeHome%}
                        {{ home.numero~' - '~home.joueur.prenom|first~'. '~home.joueur.nom}} <br />
                    {% endfor %}
                {% else %}
                    Pas de données pour l'équipe domicile
                {% endif %}
            </div>
            <div class='col-sm-6 col-md-6 col-lg-3 order-lg-3 mt-3'>
                {%if equipeAway is not empty%}
                    {% for away in equipeAway%}
                        {{ away.numero~' - '~away.joueur.prenom|first~'. '~away.joueur.nom}} <br />
                    {% endfor %}
                {% else %}
                    Pas de données pour l'équipe extérieure
                {% endif %}
            </div>
            <div class='col-sm-12 col-md-12 col-lg-6 order-lg-2 mt-3'>
                <div class="row">
                    <div class='col-lg-12'>
                        {%if equipeHome is not empty%}
                            <table class='table table-borderless mb-0' style='font-size: 12px'>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                    <td class='bg-success text-center text-white ' colspan='4'></td>
                                    <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                                </tr>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite terrainLigneDashedTop sizeTDCote'></td>
                                    <td class='bg-success text-center text-white terrainLigneDashedTop' colspan='4'>{{equipeHome[14].numero}} <br/> {{equipeHome[14].joueur.prenom|first~'. '~equipeHome[14].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche terrainLigneDashedTop sizeTDCote'></td>
                                </tr>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                    <td class='bg-success text-center text-white ' >{{equipeHome[10].numero}} <br/> {{equipeHome[10].joueur.prenom|first~'. '~equipeHome[10].joueur.nom}}</td>
                                    <td class='bg-success text-white text-center ' >{{equipeHome[11].numero}} <br/> {{equipeHome[11].joueur.prenom|first~'. '~equipeHome[11].joueur.nom}}</td>
                                    <td class='bg-success text-center text-white ' >{{equipeHome[12].numero}} <br/> {{equipeHome[12].joueur.prenom|first~'. '~equipeHome[12].joueur.nom}}</td>
                                    <td class='bg-success text-center text-white ' >{{equipeHome[13].numero}} <br/> {{equipeHome[13].joueur.prenom|first~'. '~equipeHome[13].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                                </tr>
                                
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite terrainLigneSolidTop sizeTDCote'></td>
                                    <td class='bg-success text-center text-white terrainLigneSolidTop' colspan='2'>{{equipeHome[8].numero}} <br/> {{equipeHome[8].joueur.prenom|first~'. '~equipeHome[8].joueur.nom}}</td>
                                    <td class='bg-success text-white text-center terrainLigneSolidTop' colspan='2'>{{equipeHome[9].numero}} <br/> {{equipeHome[9].joueur.prenom|first~'. '~equipeHome[9].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche terrainLigneSolidTop sizeTDCote'></td>
                                </tr>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                    <td class='bg-success text-center text-white' >{{equipeHome[5].numero}} <br/> {{equipeHome[5].joueur.prenom|first~'. '~equipeHome[5].joueur.nom}}</td>
                                    <td class='bg-success text-white text-center' colspan='2'>{{equipeHome[7].numero}} <br/> {{equipeHome[7].joueur.prenom|first~'. '~equipeHome[7].joueur.nom}}</td>
                                    <td class='bg-success text-center text-white' >{{equipeHome[6].numero}} <br/> {{equipeHome[6].joueur.prenom|first~'. '~equipeHome[6].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                                </tr>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite terrainLigneDashedTop sizeTDCote'></td>
                                    <td class='bg-success text-center text-white terrainLigneDashedTop' colspan='2'>{{equipeHome[3].numero}} <br/> {{equipeHome[3].joueur.prenom|first~'. '~equipeHome[3].joueur.nom}}</td>
                                    <td class='bg-success text-white text-center terrainLigneDashedTop' colspan='2'>{{equipeHome[4].numero}} <br/> {{equipeHome[4].joueur.prenom|first~'. '~equipeHome[4].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche terrainLigneDashedTop sizeTDCote'></td>
                                </tr>
                                <tr>
                                    <td class='bg-success terrainLigneDashedDroite terrainLigneSolidBottom sizeTDCote'></td>
                                    <td class='bg-success text-center text-white terrainLigneSolidBottom '>{{equipeHome[0].numero}} <br/> {{equipeHome[0].joueur.prenom|first~'. '~equipeHome[0].joueur.nom}}</td>
                                    <td class='bg-success text-center text-white terrainLigneSolidBottom ' colspan='2'>{{equipeHome[1].numero}} <br/> {{equipeHome[1].joueur.prenom|first~'. '~equipeHome[1].joueur.nom}}</td>
                                    <td class='bg-success text-center text-white terrainLigneSolidBottom '>{{equipeHome[2].numero}} <br/> {{equipeHome[2].joueur.prenom|first~'. '~equipeHome[2].joueur.nom}}</td>
                                    <td class='bg-success terrainLigneDashedGauche terrainLigneSolidBottom sizeTDCote'></td>
                                </tr>
                                
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class='col-lg-12'>
                        {%if equipeAway is not empty%}
                        <table class='table table-borderless' style='font-size: 12px'>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite  terrainLigneSolidTop sizeTDCote'></td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop'>{{equipeAway[0].numero}} <br/> {{equipeAway[0].joueur.prenom|first~'. '~equipeAway[0].joueur.nom}}</td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop' colspan='2'>{{equipeAway[1].numero}} <br/> {{equipeAway[1].joueur.prenom|first~'. '~equipeAway[1].joueur.nom}}</td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop'>{{equipeAway[2].numero}} <br/> {{equipeAway[2].joueur.prenom|first~'. '~equipeAway[2].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche terrainLigneSolidTop sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                <td class='bg-success text-center text-white' colspan='2'>{{equipeAway[3].numero}} <br/> {{equipeAway[3].joueur.prenom|first~'. '~equipeAway[3].joueur.nom}}</td>
                                <td class='bg-success text-white text-center' colspan='2'>{{equipeAway[4].numero}} <br/> {{equipeAway[4].joueur.prenom|first~'. '~equipeAway[4].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite terrainLigneDashedTop sizeTDCote'></td>
                                <td class='bg-success text-center text-white terrainLigneDashedTop' >{{equipeAway[5].numero}} <br/> {{equipeAway[5].joueur.prenom|first~'. '~equipeAway[5].joueur.nom}}</td>
                                <td class='bg-success text-white text-center terrainLigneDashedTop' colspan='2'>{{equipeAway[7].numero}} <br/> {{equipeAway[7].joueur.prenom|first~'. '~equipeAway[7].joueur.nom}}</td>
                                <td class='bg-success text-center text-white terrainLigneDashedTop' >{{equipeAway[6].numero}} <br/> {{equipeAway[6].joueur.prenom|first~'. '~equipeAway[6].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche terrainLigneDashedTop sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                <td class='bg-success text-center text-white' colspan='2'>{{equipeAway[8].numero}} <br/> {{equipeAway[8].joueur.prenom|first~'. '~equipeAway[8].joueur.nom}}</td>
                                <td class='bg-success text-white text-center' colspan='2'>{{equipeAway[9].numero}} <br/> {{equipeAway[9].joueur.prenom|first~'. '~equipeAway[9].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite terrainLigneSolidTop sizeTDCote'></td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop' >{{equipeAway[10].numero}} <br/> {{equipeAway[10].joueur.prenom|first~'. '~equipeAway[10].joueur.nom}}</td>
                                <td class='bg-success text-white text-center terrainLigneSolidTop' >{{equipeAway[11].numero}} <br/> {{equipeAway[11].joueur.prenom|first~'. '~equipeAway[11].joueur.nom}}</td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop' >{{equipeAway[12].numero}} <br/> {{equipeAway[12].joueur.prenom|first~'. '~equipeAway[12].joueur.nom}}</td>
                                <td class='bg-success text-center text-white terrainLigneSolidTop' >{{equipeAway[13].numero}} <br/> {{equipeAway[13].joueur.prenom|first~'. '~equipeAway[13].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche terrainLigneSolidTop sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite sizeTDCote'></td>
                                <td class='bg-success text-center text-white' colspan='4'>{{equipeAway[14].numero}} <br/> {{equipeAway[14].joueur.prenom|first~'. '~equipeAway[14].joueur.nom}}</td>
                                <td class='bg-success terrainLigneDashedGauche sizeTDCote'></td>
                            </tr>
                            <tr>
                                <td class='bg-success terrainLigneDashedDroite terrainLigneDashedTop sizeTDCote'></td>
                                <td class='bg-success text-center text-white terrainLigneDashedTop' colspan='4'></td>
                                <td class='bg-success terrainLigneDashedGauche terrainLigneDashedTop sizeTDCote'></td>
                            </tr>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div id='blockMatch'>
        <div class='row justify-content-center mt-2'>
            <div class="col-lg-6 text-center">
                <h4>Scoring</h4>
                {% set pointAway = 0 %}
                {% set pointHome = 0 %}
                {% set essaisHome = 0 %}
                {% set essaisAway = 0 %}
                {% set transformationHome = 0 %}
                {% set transformationAway = 0 %}
                {% set penaliteHome = 0 %}
                {% set penaliteAway = 0 %}
                {% set dropHome = 0 %}
                {% set dropAway = 0 %}
                {% for home in equipeHome%}
                    {% set pointHome = pointHome + home.points %}
                    {% set essaisHome = essaisHome + home.essais %}
                    {% set transformationHome = transformationHome + home.transformation %}
                    {% set penaliteHome = penaliteHome + home.penalite %}
                    {% set dropHome = dropHome + home.drops %}
                {% endfor %}
                {% for away in equipeAway%}
                    {% set pointAway = pointAway + away.points%}
                    {% set essaisAway = essaisAway + away.essais%}
                    {% set transformationAway = transformationAway + away.transformation%}
                    {% set penaliteAway = penaliteAway + away.penalite%}
                    {% set dropAway = dropAway + away.drops%}
                {% endfor %}
                {% if pointHome == (journee.scoreHome-7) %}
                    {% set essaisHome = essaisHome + 1 %}
                {% endif %}
                {% if pointAway == (journee.scoreAway-7) %}
                    {% set essaisAway = essaisAway + 1 %}
                {% endif %}
                Essais<br/>
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (essaisHome+essaisAway) != 0 %}{{ essaisHome*100/(essaisHome+essaisAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ essaisHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (essaisHome+essaisAway) != 0 %}{{ essaisAway*100/(essaisHome+essaisAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ essaisAway}}</div> 
                </div>
                Transformations<br/>
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (transformationHome+transformationAway) != 0 %}{{ transformationHome*100/(transformationHome+transformationAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ transformationHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (transformationHome+transformationAway) != 0 %}{{ transformationAway*100/(transformationHome+transformationAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ transformationAway}}</div> 
                </div>
                Pénalités<br/>
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (penaliteHome+penaliteAway) != 0 %}{{ penaliteHome*100/(penaliteHome+penaliteAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ penaliteHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (penaliteHome+penaliteAway) != 0 %}{{ penaliteAway*100/(penaliteHome+penaliteAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ penaliteAway}}</div> 
                </div>
                Drops<br/>
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (dropHome+dropAway) != 0 %}{{ dropHome*100/(dropHome+dropAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ dropHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (dropHome+dropAway) != 0 %}{{ dropAway*100/(dropHome+dropAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ dropAway}}</div> 
                </div>
            </div>
        
            <div class="col-lg-6 text-center">
                <div class='row'>
                    <div class='col-lg-12 text-center'>
                        <h4>Possession/occupation</h4>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-lg-6 text-center'>
                        <canvas id="possession" width="400" height="300"></canvas>
                    </div>
                    <div class='col-lg-6 text-center'>
                        <canvas id="occupation" width="400" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 text-center">
                <h4>Attaque</h4>
                {% set passesHome = 0 %}
                {% set passesAway = 0 %}
                {% set offloadHome = 0 %}
                {% set offloadAway = 0 %}
                {% set courseHome = 0 %}
                {% set courseAway = 0 %}
                {% set mgHome = 0 %}
                {% set mgAway = 0 %}
                {% set perceHome = 0 %}
                {% set perceAway = 0 %}
                {% set defHome = 0 %}
                {% set defAway = 0 %}
                {% for home in equipeHome%}
                    {% set passesHome = passesHome + home.passe %}
                    {% set offloadHome = offloadHome + home.offload %}
                    {% set courseHome = courseHome + home.course %}
                    {% set mgHome = mgHome + home.metreGagne %}
                    {% set perceHome = perceHome + home.perce %}
                    {% set defHome = defHome + home.defenseurBattu %}
                {% endfor %}
                {% for away in equipeAway%}
                    {% set passesAway = passesAway + away.passe %}
                    {% set offloadAway = offloadAway + away.offload %}
                    {% set courseAway = courseAway + away.course %}
                    {% set mgAway = mgAway + away.metreGagne %}
                    {% set perceAway = perceAway + away.perce %}
                    {% set defAway = defAway + away.defenseurBattu %}
                {% endfor %}
                Passes<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (passesHome+passesAway) != 0 %}{{ passesHome*100/(passesHome+passesAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ passesHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (passesHome+passesAway) != 0 %}{{ passesAway*100/(passesHome+passesAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ passesAway}}</div> 
                </div>
                Offload<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (offloadHome+offloadAway) != 0 %}{{ offloadHome*100/(offloadHome+offloadAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ offloadHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (offloadHome+offloadAway) != 0 %}{{ offloadAway*100/(offloadHome+offloadAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ offloadAway}}</div> 
                </div>
                Courses<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (courseHome+courseAway) != 0 %}{{ courseHome*100/(courseHome+courseAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ courseHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (courseHome+courseAway) != 0 %}{{ courseAway*100/(courseHome+courseAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ courseAway}}</div> 
                </div>
                Metres gagnés<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (mgHome+mgAway) != 0 %}{{ mgHome*100/(mgHome+mgAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ mgHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (mgHome+mgAway) != 0 %}{{ mgAway*100/(mgHome+mgAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ mgAway }}</div> 
                </div>
                Percés<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (perceHome+perceAway) != 0 %}{{ perceHome*100/(perceHome+perceAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ perceHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (perceHome+perceAway) != 0 %}{{ perceAway*100/(perceHome+perceAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ perceAway}}</div> 
                </div>
                Défenseurs battus<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (defHome+defAway) != 0 %}{{ defHome*100/(defHome+defAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ defHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (defHome+defAway) != 0 %}{{ defAway*100/(defHome+defAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ defAway}}</div> 
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Défense</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center d-flex align-self-center">
                        <canvas id="placageHome" width="400" height="300"></canvas>
                    </div>
                    <div class="col-lg-6 text-center d-flex align-self-center">
                        <canvas id="placageAway" width="400" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 text-center">
                <h4>Pénalités</h4>
                {% set penalitesHome = 0 %}
                {% set penalitesAway = 0 %}
                {% set cjHome = 0 %}
                {% set cjAway = 0 %}
                {% set crHome = 0 %}
                {% set crAway = 0 %}
                {% for home in equipeHome%}
                    {% set penalitesHome = penalitesHome + home.penaliteConcedee %}
                    {% set cjHome = cjHome + home.cj %}
                    {% set crHome = crHome + home.cr %}
                {% endfor %}
                {% for away in equipeAway%}
                    {% set penalitesAway = penalitesAway + away.penaliteConcedee %}
                    {% set cjAway = cjAway + away.cj %}
                    {% set crAway = crAway + away.cr %}
                {% endfor %}
                Discipline<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (penalitesHome+penalitesAway) != 0 %}{{ penalitesHome*100/(penalitesHome+penalitesAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ penalitesHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (penalitesHome+penalitesAway) != 0 %}{{ penalitesAway*100/(penalitesHome+penalitesAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ penalitesAway}}</div> 
                </div>
                Carton jaune<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (cjHome+cjAway) != 0 %}{{ cjHome*100/(cjHome+cjAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ cjHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (cjHome+cjAway) != 0 %}{{ cjAway*100/(cjHome+cjAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ cjAway}}</div> 
                </div>
                Carton rouge<br />
                <div class="progress my-progress">
                    <div class="progress-bar home" role="progressbar" style="width: {% if (crHome+crAway) != 0 %}{{ crHome*100/(crHome+crAway)}}{% else %}0{% endif %}%" aria-valuemin="0" aria-valuemax="100">{{ crHome }} </div>
                    <div class="progress-bar away" role="progressbar" style="width: {% if (crHome+crAway) != 0 %}{{ crAway*100/(crHome+crAway)}}{% else %}0{% endif %}%"  aria-valuemin="0" aria-valuemax="100">{{ crAway}}</div> 
                </div>
            </div>
        </div>
    </div>
    <div id='blockJoueurs'>
        <div class='row justify-content-center mt-2'>
            <div class='col-xl-6'>
                <div class='table-responsive'>
                    <table class='table table-bordered table-xs table-striped'>
                        <thead class='thead-dark'>
                            <tr>
                                <th rowspan='2' style="vertical-align : middle;text-align:center;">Nom</th>
                                <th colspan='5' class="text-center">Score</th>
                                <th colspan='7' class="text-center">Attaque</th>
                                <th colspan='2' class="text-center">Défense</th>
                                <th colspan='3' class="text-center">Discipline</th>
                            </tr>
                            <tr>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Essais" class="lien-tooltip">E</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Transformations" class="lien-tooltip">T</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Pénalités" class="lien-tooltip">Pen</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Drop" class="lien-tooltip">D</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Points" class="lien-tooltip">P</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Assists" class="lien-tooltip">A</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Offloads" class="lien-tooltip">O</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Passes" class="lien-tooltip">Pa</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Courses" class="lien-tooltip">C</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Metres gagnés" class="lien-tooltip">MG</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Percés" class="lien-tooltip">Per</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Défenseurs battus" class="lien-tooltip">DB</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Placages réussis" class="lien-tooltip">PR</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Placages manqués" class="lien-tooltip">PM</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Pénalités concédées" class="lien-tooltip">PC</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Carton jaune" class="lien-tooltip">CJ</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Carton rouge" class="lien-tooltip">CR</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if equipeHome is not empty %}
                                {% for home in equipeHome %}
                                    <tr>
                                        <th scope="row">{{home.numero~' - '~home.joueur.prenom|first~'. '~home.joueur.nom}}</th>
                                        <td>{{home.essais}}</td>
                                        <td>{{home.transformation}}</td>
                                        <td>{{home.penalite}}</td>
                                        <td>{{home.drops}}</td>
                                        <td>{{home.points}}</td>
                                        <td>{{home.assist}}</td>
                                        <td>{{home.offload}}</td>
                                        <td>{{home.passe}}</td>
                                        <td>{{home.course}}</td>
                                        <td>{{home.metreGagne}}</td>
                                        <td>{{home.perce}}</td>
                                        <td>{{home.defenseurBattu}}</td>
                                        <td>{{home.placagesReussis}}</td>
                                        <td>{{home.placagesManques}}</td>
                                        <td>{{home.penaliteConcedee}}</td>
                                        <td>{{home.cj}}</td>
                                        <td>{{home.cr}}</td>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan='18' class='text-center'>Pas de données pour l'équipe extérieure</td>
                                </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>                     
                </div>                
            </div>
            <div class='col-xl-6'>
                <div class='table-responsive'>
                    <table class='table table-bordered table-xs table-striped'>
                        <thead class='thead-dark'>
                            <tr>
                                <th rowspan='2' style="vertical-align : middle;text-align:center;">Joueur</th>
                                <th colspan='5' class="text-center">Score</th>
                                <th colspan='7' class="text-center">Attaque</th>
                                <th colspan='2' class="text-center">Défense</th>
                                <th colspan='3' class="text-center">Discipline</th>
                            </tr>
                            <tr>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Essais" class="lien-tooltip">E</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Transformations" class="lien-tooltip">T</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Pénalités" class="lien-tooltip">Pen</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Drop" class="lien-tooltip">D</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Points" class="lien-tooltip">P</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Assists" class="lien-tooltip">A</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Offloads" class="lien-tooltip">O</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Passes" class="lien-tooltip">Pa</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Courses" class="lien-tooltip">C</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Metres gagnés" class="lien-tooltip">MG</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Percés" class="lien-tooltip">Per</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Défenseurs battus" class="lien-tooltip">DB</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Placages réussis" class="lien-tooltip">PR</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Placages manqués" class="lien-tooltip">PM</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Pénalités concédées" class="lien-tooltip">PC</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Carton jaune" class="lien-tooltip">CJ</a></th>
                                <th><a href="#" data-toggle="tooltip" data-placement="top" title="Carton rouge" class="lien-tooltip">CR</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if equipeAway is not empty %}
                                {% for away in equipeAway %}
                                    <tr>
                                        <th scope="row">{{away.numero~' - '~away.joueur.prenom|first~'. '~away.joueur.nom}}</th>
                                        <td>{{away.essais}}</td>
                                        <td>{{away.transformation}}</td>
                                        <td>{{away.penalite}}</td>
                                        <td>{{away.drops}}</td>
                                        <td>{{away.points}}</td>
                                        <td>{{away.assist}}</td>
                                        <td>{{away.offload}}</td>
                                        <td>{{away.passe}}</td>
                                        <td>{{away.course}}</td>
                                        <td>{{away.metreGagne}}</td>
                                        <td>{{away.perce}}</td>
                                        <td>{{away.defenseurBattu}}</td>
                                        <td>{{away.placagesReussis}}</td>
                                        <td>{{away.placagesManques}}</td>
                                        <td>{{away.penaliteConcedee}}</td>
                                        <td>{{away.cj}}</td>
                                        <td>{{away.cr}}</td>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan='18' class='text-center'>Pas de données pour l'équipe extérieure</td>
                                </tr>
                            {% endif %}
                            
                        </tbody>
                    </table>                    
                </div>                
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script></script>
    <script>
        $('#blockResume').hide();
        $('#blockMatch').hide();
        $('#blockJoueurs').hide();
        $('#btnComposition').click(function(){
            $('#btnComposition').addClass('active');
            $('#btnResume').removeClass('active');            
            $('#btnMatch').removeClass('active');            
            $('#btnJoueurs').removeClass('active');            
            $('#blockComposition').show();
            $('#blockResume').hide();
            $('#blockMatch').hide();
            $('#blockJoueurs').hide();
        });
        $('#btnResume').click(function(){
            $('#btnResume').addClass('active');
            $('#btnComposition').removeClass('active');            
            $('#btnMatch').removeClass('active');            
            $('#btnJoueurs').removeClass('active');            
            $('#blockResume').show();
            $('#blockComposition').hide();
            $('#blockMatch').hide();
            $('#blockJoueurs').hide();
        });
        $('#btnMatch').click(function(){
            $('#btnMatch').addClass('active');
            $('#btnComposition').removeClass('active');            
            $('#btnResume').removeClass('active');            
            $('#btnJoueurs').removeClass('active');            
            $('#blockMatch').show();
            $('#blockComposition').hide();
            $('#blockResume').hide();
            $('#blockJoueurs').hide();
        });
        $('#btnJoueurs').click(function(){
            $('#btnJoueurs').addClass('active');
            $('#btnComposition').removeClass('active');            
            $('#btnResume').removeClass('active');            
            $('#btnMatch').removeClass('active');            
            $('#blockJoueurs').show();
            $('#blockComposition').hide();
            $('#blockResume').hide();
            $('#blockMatch').hide();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        
        function getColor(equipe){
           var color;
            switch (equipe){
                case 'Glasgow Warriors':
                    color = 'grey';
                    break;
                case 'Munster':
                    color = 'red';
                    break;
                case 'Connacht':
                    color = 'green';
                    break;
                case 'Ospreys':
                    color = 'black';
                    break;
                case 'Cardiff Blues':
                    color = 'blue';
                    break;
                case 'Toyota Cheetahs':
                    color = 'orange';
                    break;
                case 'Zebres':
                    color = 'yellow';
                    break;
                case 'Leinster':
                    color = "blue";
                    break;
                case 'Ulster':
                    color = "#CCCCCC";
                    break;
                case 'Benetton Trevise':
                    color = "green";
                    break;
                case 'Scarlets':
                    color = "red";
                    break;
                case 'Edinburgh':
                    color = "purple";
                    break;
                case 'Dragons':
                    color = "orange";
                    break;
                case 'Southern Kings':
                    color = "Orange";
                    break;
                case 'Vodacom Blue Bulls':
                    color = '#33D8FF';
                    break;
                case 'Lions':
                    color = 'red';
                    break;
                case 'Sharks':
                    color = 'black';
                    break;
                case 'DHL Stormers':
                    color = 'blue';
                    break;
                
            }
            return color;
        }
        

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                        data: [
                                {{statsMatch|first.possessionHome}},
                                {{statsMatch|first.possessionAway}},
                        ],
                        backgroundColor: [
                                getColor("{{journee.idEquipeHome.nom}}"),
                                getColor("{{journee.idEquipeAway.nom}}"),
                        ],
                        label: 'Dataset 1'
                }],
                labels: [
                        "{{journee.idEquipeHome.nom}}",
                        '{{journee.idEquipeAway.nom}}'
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Possession',
                    fontSize: '15',
                },
            }
        };
        var config2 = {
            type: 'pie',
            data: {
                datasets: [{
                        data: [
                                {{statsMatch|first.occupationHome}},
                                {{statsMatch|first.occupationAway}},
                        ],
                        backgroundColor: [
                                getColor("{{journee.idEquipeHome.nom}}"),
                                getColor("{{journee.idEquipeAway.nom}}"),
                        ],
                        label: 'Dataset 1'
                }],
                labels: [
                        "{{journee.idEquipeHome.nom}}",
                        '{{journee.idEquipeAway.nom}}'
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Occupation',
                    fontSize: '15',
                },
            }
        };
        var config3 = {
            type: 'doughnut',
            data: {
                datasets: [{
                        data: [
                            {% set placageHome = 0 %}
                            {% set rateHome = 0 %}
                        {% for home in equipeHome %}
                            {% set placageHome = placageHome + home.placagesReussis%}
                            {% set rateHome = rateHome + home.placagesManques%}
                        {% endfor %}
                            {{ placageHome }}, {{rateHome}},
                        ],
                        backgroundColor: [
                                getColor("{{journee.idEquipeHome.nom}}"),
                                getColor("#e9ecef"),
                        ],
                        label: 'Dataset 1'
                }],
                labels: [
                        "Placages réussis",
                        'Placages manqués'
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Placages',
                    fontSize: '15',
                },
            }
        };
        var config4 = {
            type: 'doughnut',
            data: {
                datasets: [{
                        data: [
                            {% set placageAway = 0 %}
                            {% set rateAway = 0 %}
                        {% for away in equipeAway %}
                            {% set placageAway = placageAway + away.placagesReussis%}
                            {% set rateAway = rateAway + away.placagesManques%}
                        {% endfor %}
                            {{ placageAway }}, {{rateAway}},
                        ],
                        backgroundColor: [
                                getColor("{{journee.idEquipeAway.nom}}"),
                                getColor("#e9ecef"),
                        ],
                        label: 'Dataset 1'
                }],
                labels: [
                        "Placages réussis",
                        'Placages manqués'
                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Placages',
                    fontSize: '15',
                },
            }
        };

        window.onload = function() {
                var ctx = document.getElementById('possession').getContext('2d');
                window.myPie = new Chart(ctx, config);
                var ctx2 = document.getElementById('occupation').getContext('2d');
                window.myPie = new Chart(ctx2, config2);
                var ctx3 = document.getElementById('placageHome').getContext('2d');
                window.myPie = new Chart(ctx3, config3);
                var ctx4 = document.getElementById('placageAway').getContext('2d');
                window.myPie = new Chart(ctx4, config4);
        };

		$('.home').css('background-color', getColor("{{journee.idEquipeHome.nom}}") );
		$('.away').css('background-color', getColor("{{journee.idEquipeAway.nom}}") );
        </script>
{% endblock %}