{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
    </ol>
</nav>
<div class='container-fluid pb-5 mb-5'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1>Accueil</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-7'>
            <h3>Derniers articles</h3><br />
            {% for article in articles %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-sm-2 align-self-center text-center mx-1">
                            <img src="{{ asset('images/articles/article_'~article.id~'/'~article.miniature)}}"  alt="..." class="img-fluid">
                        </div>
                        <div class="col-sm-9">
                            <div class="card-body">
                                <h5 class="card-title">{{article.titre}}</h5>
                                <p class="card-text">{% if article.contenu|length > 100 %}{% set var = article.contenu|slice(0, 100)~"...</p>" %} {{ var | raw }}{% else %} {{ article.contenu|raw  }} {% endif %}</p>
                                <p class="card-text">
                                    {% if article.dateDerniereModification is not null %}
                                        <small class="text-muted">Dernière modification : {{article.dateDerniereModification|date('d/m/Y')}}</small>
                                    {%else%}
                                        <small class="text-muted">Dernière création : {{article.dateCreation|date('d/m/Y')}}</small>
                                    {% endif %}
                                </p>
                                <p class="card-text text-right"><a href="{{path('article',{'id':article.id})}}">Lire plus <i class="fas fa-arrow-circle-right"></i> </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='col-lg-5'>
            <h3>Classement</h3>
            <div class="row">
                <div class="col-lg-12">
                    Conférence A :<br />
                    <div class="table-responsive classement-reduce-size">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Pos</th>
                                    <th>Equipe</th>
                                    <th>Joué</th>
                                    <th>Points</th>
                                    <th>V</th>
                                    <th>N</th>
                                    <th>D</th>
                                    <th>BO</th>
                                    <th>BD</th>
                                    <th>+/-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for confA in classementA %}
                                    <tr>
                                        <th>{{ confA.classement }} </th>
                                        <td><img src="{{ asset('images/logo/'~confA.equipe.logo)}}" width="19"> {{ confA.equipe.nom }} </td>
                                        <td> {{confA.joue }}</td>
                                        <td> {{confA.nbPoints }}</td>
                                        <td> {{confA.victoire }}</td>
                                        <td> {{confA.nul }}</td>
                                        <td> {{confA.defaite }}</td>
                                        <td> {{confA.bo }}</td>
                                        <td> {{confA.bd }}</td>
                                        <td> {{confA.difference }}</td>
                                    </tr>                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        
                </div>
                <div class="col-lg-12">
                    Conférence B :<br />
                    <div class="table-responsive classement-reduce-size">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Pos</th>
                                    <th>Equipe</th>
                                    <th>Joué</th>
                                    <th>Points</th>
                                    <th>V</th>
                                    <th>N</th>
                                    <th>D</th>
                                    <th>BO</th>
                                    <th>BD</th>
                                    <th>+/-</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for confB in classementB %}
                                    <tr>
                                        <th>{{ confB.classement }} </th>
                                        <td><img src="{{ asset('images/logo/'~confB.equipe.logo)}}" width="19"> {{ confB.equipe.nom }} </td>
                                        <td> {{confB.joue }}</td>
                                        <td> {{confB.nbPoints }}</td>
                                        <td> {{confB.victoire }}</td>
                                        <td> {{confB.nul }}</td>
                                        <td> {{confB.defaite }}</td>
                                        <td> {{confB.bo }}</td>
                                        <td> {{confB.bd }}</td>
                                        <td> {{confB.difference }}</td>
                                    </tr>                                    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        
                </div>
                
            </div>
        </div>
    </div>
    <div class='row top'>
        <div class='col-lg-7'>
            <h3>Presse</h3>
            {#{% for article in presse %}
                <a href="{{ article.link }}" targer="_BLANK"><i class="fas fa-newspaper"></i>&nbsp;{{ article.title }}</a><br />
            {% endfor %}#}
            {% for lien,article in presse %}
                <a href="{{ lien }}" targer="_BLANK"><i class="fas fa-newspaper"></i>&nbsp;{{ article }}</a><br />
            {% endfor %}
        </div>
        <div class='col-lg-5'>
            <h3>Derniers résultats</h3>
            
                {% if lastJournee|first.journee!='Demi finale' and lastJournee|first.journee!='Barrage Play Off' and lastJournee|first.journee!='Finale' and lastJournee|first.journee!='Barrage Champions Cup' %}Journée n°{{lastJournee|first.journee}}{% else %} {{lastJournee|first.journee }}{% endif %}<br />
                {% for journee in lastJournee %}
                <div class='border-bottom-grey'>
                    <img src="{{ asset('images/logo/'~journee.idEquipeHome.logo)}}" width="19"> {{ journee.idEquipeHome.nom}} <span class="font-weight-bold">{% if journee.scoreHome!=null%}{{ journee.scoreHome}}{% endif %} - {% if journee.scoreAway!=null%}{{ journee.scoreAway}}{% endif %}</span> {{journee.idEquipeAway.nom }} <img src="{{ asset('images/logo/'~journee.idEquipeAway.logo)}}" width="19">    
                </div>
                {% endfor %}
            
            
        </div>
    </div>

</div>
{% endblock  %}