<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('images/favicon.png')}}">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
        
        <!-- BOOSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/120d422932.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        
        
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@A_Vauthey" />
        <meta name="twitter:creator" content="@A_Vauthey" />
        {% if selected != 'Accueil'%}
            <meta property="og:url" content="https://pro14fr.com/{{ selected|lower }}" />
        {% else %}
            <meta property="og:url" content="https://pro14fr.com/{{ selected|lower }}" />
        {% endif %}
        {% if selected == 'Accueil' and article is defined %}
        <meta property="og:title" content="{{ article.titre}}" />
        <meta property="og:description" content="{% if article.contenu|length > 100 %}{% set var = article.contenu|slice(3, 100)~"..." %} {{ var | raw }}{% else %} {% set var = article.contenu|slice(3, -4) %}{{ var|raw  }} {% endif %}" />
        <meta property="og:image" content="{{ 'https://pro14fr.com'~asset('images/articles/article_'~article.id~'/'~article.miniature)}}" />
        {% else %}
        <meta property="og:title" content="Pro14fr" />
        <meta property="og:description" content="Pro14fr, site d'actualité sur le Pro14 et le rugby écossais" />
        <meta property="og:image" content="{{'https://pro14fr.com'~asset('images/logo.png')}}" />
        {% endif %}
        
        {% block stylesheets %}<link href='{{ asset('style.css') }}' type='text/css' rel='stylesheet'>{% endblock %}
    </head>
    <body>
        {% block menu %}{{ include('menu.html.twig', {'selected':selected})}}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{{ include ('footer.html.twig') }}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
