<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('index') }}"><img src="{{asset('images/logo.png')}}" alt='Guinness Pro 14 FR' width="100" class="d-inline-block align-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if selected == 'Accueil' %}active{% endif %}">
                <a class="nav-link" href="{{ path('index') }}">Accueil</a>
            </li>
            <li class="nav-item {% if selected == 'Competition' %}active{% endif %}">
                <a class="nav-link" href="{{ path('calendrier_competition') }}">Compétition</a>
            </li>
            <li class="nav-item {% if selected == 'APropos' %}active{% endif %}">
                <a class="nav-link" href="{{ path('aboutPro14') }}">A Propos du Pro14</a>
            </li>     
        </ul>
    </div>
</nav>