<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('index') }}"><img src="{{asset('images/logo.png')}}" alt='Guinness Pro 14 FR' width="200" class="d-inline-block align-top"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if selected == 'Accueil' %}active{% endif %}">
                <a class="nav-link" href="{{ path('index') }}">Accueil</a>
            </li>
            <li class="nav-item {% if selected == 'Competition' %}active{% endif %}">
                <a class="nav-link" href="{{ path('competition') }}">Compétition</a>
            </li>
            <li class="nav-item dropdown {% if selected == 'Equipe' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Equipes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for equipe in equipes %}
                    <a class="dropdown-item" href="{{ path('equipe',{id: equipe.id}) }}"><img src="{{asset('images/'~equipe.logo)}}" alt="logo {{equipe.nom}}" width="15"> {{equipe.nom}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item {% if selected == 'Joueur' %}active{% endif %}">
                <a class="nav-link" href="#">Joueur</a>
            </li>
        </ul>
    </div>
</nav>