{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}
    Equipe - {{ equipe.nom }}
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('index')}}'>Accueil</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href='{{ path('equipes')}}'>Equipes</a></li>
    </ol>
</nav>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1>{{ equipe.nom ~' - '~ active }}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-2 top'>
            {{ include('equipes/blockMenu.html.twig',{'active': active, 'equipe' :equipe}) }}
        </div>
        <div class='col-lg-10 top'>
            <div class='table-responsive'>
                <table class='table table-bordered'>
                    <tr>
                        <td colspan='4' class='text-center'><img src='{{ asset('images/'~equipe.logo) }}' alt='logo {{ equipe.nom }}' width='100'></td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-city"></i> Ville : <span style='font-weight: 600'>{{equipe.ville}}</span>
                        </td>
                        <td colspan='2'>
                            <img src='{{asset('images/stadium.png')}}' style='width:20px;height: 16px;'> Stade : <span style='font-weight: 600'>{{equipe.stade}}</span>
                        </td>
                        <td>
                            <i class="fas fa-poll"></i> Capacité stade : <span style='font-weight: 600'>{{equipe.capaciteStade}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' style='border-bottom: none'>
                            <i class="fas fa-tshirt"></i> Maillot Domicile : 
                        </td>
                        <td colspan='2' style='border-bottom: none'>
                            <i class="fas fa-tshirt reverseShirt"></i> Maillot Exterieur :
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' class='text-center' style='border-top: none'>
                            <img src='{{ asset('images/'~equipe.maillotDomicile) }}' alt='maillot domicile {{ equipe.nom}}' width='100' height='100'>
                        </td>
                        <td colspan='2' class='text-center' style='border-top: none'>
                            <img class='ml-5' src='{{ asset('images/'~equipe.maillotExterieur) }}' alt='maillot domicile {{ equipe.nom}}' width='100' height='100'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='4'>Palmarès : <br />
                        {% set pro14 =[] %}
                        {% set pro12 =[] %}
                        {% set rabo =[] %}
                        {% set magners =[] %}
                        {% set celtic =[] %}
                        {% set challenge =[] %}
                        {% set champions =[] %}
                        {% for palmares in equipe.palmares %}
                            {% if palmares.nomCompetition == 'Celtic League'%}
                                {% set celtic = celtic|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'Magners League'%}
                                {% set magners = magners|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'RaboDirect Pro12'%}
                                {% set rabo = rabo|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'Guinness Pro12'%}
                                {% set pro12 = pro12|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'Guinness Pro14'%}
                                {% set pro14 = pro14|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'Challenge Cup'%}
                                {% set challenge = challenge|merge([palmares.saison]) %}
                            {% endif  %}
                            {% if palmares.nomCompetition == 'Champions Cup'%}
                                {% set champions = champions|merge([palmares.saison]) %}
                            {% endif  %}
                        {% endfor %}
                        {% set compteur = celtic|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #009198"></i>
                            {% endfor %}
                            Celtic League,
                            {% for element in celtic %}
                                {{ element }}
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = magners|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #009198"></i>
                            {% endfor %}
                            Magners League,
                            {% for element in magners %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = rabo|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #009198"></i>
                            {% endfor %}
                            RaboDirect Pro12,
                            {% for element in rabo %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = pro12|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #009198"></i>
                            {% endfor %}
                            Guinness Pro12,
                            {% for element in pro12 %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = pro14|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #009198"></i>
                            {% endfor %}
                            Guinness Pro14,
                            {% for element in pro14 %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = challenge|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #483D8B"></i>
                            {% endfor %}
                            Challenge Cup,
                            {% for element in challenge %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% set compteur = champions|length %}
                        {% if compteur != 0%}
                            {% for i in 1..compteur %}
                                <i class="fas fa-trophy" style="color: #FFD700"></i>
                            {% endfor %}
                            Champions Cup,
                            {% for element in champions %}
                                {{ element }}                                
                            {% endfor %}<br />
                        {% endif %}
                        {% if equipe.palmares|length == 0 %}
                            Néant
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan='4'> Présentation : </br>
                            {{ equipe.histoire }}
                            
                        </td>
                        
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}